<div id='topic-active'>
  <% if topic -%>
    <p>
      <b><%= topic.title%><b/>
        <ul>
          <% topic.posts.each do |post| %>
            <li><%= post.content %></li>
          <% end %>
        </ul>
    </p>
  
    <%= form_for(:post, :remote => true, :url => '/posts', :html => {:id => "post-form"} ) do |f| %>
      <%= f.hidden_field :topic_id, :value => topic.id %>
      <%= f.label :add_comment %>:  <%= f.text_field :content %>
      <%= f.submit %>
    <% end %>
  
  <% end -%>
</div>